*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('img/mstile-150x150.png ') 50% 50% no-repeat rgb(255, 255, 255);
  }
/*Highlight Text Color*/
  ::selection {
    background: #35373ba8; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #36383ba8; /* Gecko Browsers */
  }

/*Navbar*/
.responsive-bar{
    display: none;
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .5s;
    z-index: 1000;
}
nav.black{
    background: rgba(233, 230, 230, 0.8);
    box-shadow: 0 8px 32px 0 rgba(133, 133, 136, 0.37);
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 30px;
    border: none;
    height: 80px;
    padding: 10px 50px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    z-index: 1000;
}
nav .logo{
    float: left;
}
nav .logo img{
    height: 100px;
    margin-top: -05px;
    margin-left: -40px;
    transition: .5s;
}
nav.black .logo img{
    height: 70px;
}
nav > ul{
    width: 80%;
    margin-right: -150px;
    padding: 0;
    float: right;
    z-index: 1000;
}
nav > ul > li{
    list-style: none;
    display: inline-block;
}
nav > ul > li > a:hover{
    background: rgb(78, 76, 76);
    color: rgb(255, 255, 255);
}
nav > ul > li > a{
    color: #262626;
    text-decoration: none;
    text-transform: uppercase; /*for capitalisation of letters */
    line-height: 80px;
    padding: 5px 20px;
    transition: .5s;   
}
nav.black > ul > li > a{
    color: rgb(0, 0, 0);
    line-height: 60px;
}
nav.black > ul > li > a:hover{
    color: rgb(255, 255, 255);

}



@media(max-width:1008px){
    .responsive-bar{
        display: block;
        width: 100%;
        height: 60px;
        background: #adadad;
        position: fixed;
        top: 0;
        left: 0;
        padding: 5px 20px;
        box-sizing: border-box;
        z-index: 1;
    }
    .responsive-bar .logo img{
        float: left;
        height: 90px;  
        margin-left: 5px;
        margin-top: -18px;
    }
    .responsive-bar .menu h4{
        float: right;
        color: #fff;
        margin: 0;
        padding: 0;
        line-height: 50px;
        cursor: pointer;
        text-transform: uppercase;
    }
    nav{
        padding: 0;
    }
    nav,
    nav.black{
    background: #262626;
    height: 60px;
    padding: 0;
    }
 
    nav ul{
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        background: #c5c2c2;
        float: none;
        display: none;
    }
    nav ul.active{
        display: block;
    }
    nav ul li{
        width: 100%;
    }
    nav ul li a{
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        line-height: 30px !important;
        color: rgb(0, 0, 0);
        
    }

    nav > ul{
        width: 100%;
        display: none;
    }
    nav > ul > li{
        display: block;
        text-align: center;
    }
    .active{
        display: block;
    }
}
/*Home*/
.title-home{
    color: rgb(0, 0, 0);
    font-size: 29px;
    text-align: left;
    margin-left: 150px;
    margin-top: 450px;

}
.home-spez{
    color: #16a2bb;
}
.subtitle-home{
    color: #424242;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
    margin-right: 1100px;
}
.button-home{
    color: #ffffff;
    font-size: 14px;
    border-radius: 25px;
    background-color: #000000;
    border: none;
    margin-left: 150px;
    margin-top: 30px;
    width: 250px;
    height: 50px;
}
.button-home:hover{
    background-color: #3e4242;
    color: white;
    transition: ease-in-out 0.4s;
}
.img-home{
    margin-top: -290px;
    border-radius: 25px;
    float: right;
    margin-right: 340px;
    width: 500px;
    z-index: -1000;
}
/*technologien*/
.technologien{
    margin-top: 250px;
    background-color: #f0ebeb93;
}
.tech-title{
    text-align: center;
    color: rgb(173, 173, 173);
}
.gap{
    color: #b3b1b18e;
    font-size: 80px;
    text-align: center;
    margin-top: 50px;
}
.ul-tech{
    margin-top: 30px;
    overflow:hidden;
    text-align: center;
    
}
.li-tech{
    display:inline-block;
    margin-left: 40px;

}
.img-tech{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}
/*why us*/
.whyus{
    background-color: #f0ebeb93;
    margin-top: 0px;

}
.title-whyus{
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
    
}
.subtitle-whyus{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color: #7c7c7cb7;
}

.whyuscard{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
h2{
    font-size: 17px;
    font-weight: 200;
}
.left1{
    font-size: 19px;
    color: rgb(3, 3, 3);
    text-align: left;
    margin-top: 40px;
    margin-right: 500px;
}
.right1{
    font-size: 20px;
    color: rgb(3, 3, 3);
    text-align: right;
    margin-top: 40px;
    margin-left: 500px;
}
.left2{
    font-size: 20px;
    color: rgb(3, 3, 3);
    text-align: left;
    margin-top: 40px;
    margin-right: 500px;
}
.right2{
    font-size: 20px;
    color: rgb(3, 3, 3);
    text-align: right;
    margin-top: 40px;
    margin-left: 500px;
}






/*Footer*/
.hr-footer{
    margin-top: 1000px;
  }
  .footer-card{
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-top: 85px;
    background-color: rgb(4, 30, 68);
    border-radius: 35px;
    height: 250px;
  }
  @media only screen and (max-width: 1100px) {
    .footer-card { margin-left: 30px !important; } 
    .footer-card { height: 500px !important; } 
  }
  
  .logo-footer{
    z-index: -3;

  }
  @media only screen and (max-width: 1130px) {
    .logo-footer { margin-left: -40px !important; } 
    .logo-footer { margin-top: -20px  !important; } 
  }
  .links-footer{
    float:right;
    margin-top: -130px;
    margin-bottom: 20px;
    margin-right: 30px;
    text-decoration: none;
    line-height: 20px;
  }
  @media only screen and (max-width: 1100px) {
    .links-footer { margin-top: -80px !important; } 
    .links-footer { align-items: center !important; } 
    .links-footer { text-align: center !important; } 
  }
  .li-links-footer{
    text-align: right;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 30px;
    margin-right: 50px;
    text-decoration: none;
    list-style: none;
  }
  .li-links-footer:hover{
    opacity: 0.5;
    transition: 0.4s;
  }
  .social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    margin-top: -20px;
  }
  @media only screen and (max-width: 1100px) {
    .social-icons { margin-top: 120px !important; } 
  }
  .social-icons:hover{
    opacity: 0.5;
    transition: 0.4s;
  }
  .twitter-icon-footer{
    margin-top: -50px;
  }